<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white" >
        <h1 class="text-3xl mb-3" >Upload A file</h1>
       <form action="/upload" method="post" enctype="multipart/form-data">
        <input  type="file" name="image" id="">
        <input class="px-5 py-2 bg-blue-500 rounded-md cursor-pointer " type="submit" value="Upload File">
       </form>
    </div>
</body>
</html>