<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h2 class="mb-3 text-3xl">log into Your Accout</h2>
        <form method="post" action="/login">
            <input  class="bg-transparent border-2 border-zinc-800 px-3 outline-none py-2" type="email" placeholder="email" name="email">
            <input  class="bg-transparent border-2 border-zinc-800 px-3 outline-none py-2" type="passward" placeholder="passward" name="passward">
            <input type="submit" value="Login" class="bg-blue-500 px-10 py-2 rounded-md">
        </form>
    </div>
</body>
</html>